{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}


{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>{% trans "All" %} {% trans "News" %} {% trans "for" %} {% trans "now" %} {% trans "at" %} {% current_time %}</h1>
   {{ next_news|default_if_none:"Next news will be soon!" }}
   <hr>
   {% if news %}
       <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <!-- Добавляем ещё одну ячейку в строку и так далее -->
               <!--<td>category</td>-->
               <td>{% trans "ID" %}</td>
               <td>{% trans "TYPE" %}</td>
               <td>{% trans "AUTHOR" %}</td>
               <td>{% trans "DATE" %}</td>
               <td>{% trans "TITLE" %}</td>
               <td>{% trans "TEXT" %}</td>
               <td>{% trans "CATEGORY" %}</td>
               <td>{% trans "RATING" %}</td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
           {% for one_news in news %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <!--<td>{{ s_news.category.name }}</td>-->
               <td>{{ one_news.id }}</td>
               <td>{{ one_news.type }}</td>
               <td>{{ one_news.author.user }}</td>
               <td>{{ one_news.date_time|date:'d M Y' }}</td>
               <td>{{ one_news.title|censor }}</td>
               <td>{{ one_news.text|censor|truncatechars:20 }}</td>
               <td>{% for category in one_news.category.all %}
                   <a href="{% url 'category_list' category.id %}">{{ category.name }}</a>
                   {% endfor %}
               </td>
               <td>{{ one_news.rating }}</td>
           </tr>
           {% endfor %}

       </table> <!-- ... и таблицы -->
   {% else %}
       <h2>{% trans "Products" %} {% trans "are" %} {% trans "not" %} {% trans "available" %}!</h2>
   {% endif %}

       {# Добавляем пагинацию на страницу #}
    <hr>
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}