<!DOCTYPE html>
<html>
    <head>
        <title>{% block head_title %}{% endblock head_title %}</title>
    </head>
    <body>
        {% block body %}
        {% block content %}
        {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    {% load account %} &lt;!&ndash; Загружаем тег, который позволит получить нам ссылку на подтверждение &ndash;&gt;-->
<!--    <h1>Thank you for registering {{ user.username }}!</h1>-->
<!--    <h3>Please follow <a href="{{ activate_url }}">the link</a> to activate your account</h3>-->
<!--     &lt;!&ndash; Вставляем ссылку на активацию &ndash;&gt;-->
<!--</body>-->
<!--</html>-->